.dialog-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  height: 50%;
}

.dialog-container form {
  width: 300px; /* Ancho del formulario */
}

.edit-dialog{
  margin: auto;
}