<div class="sidebar-container">
  <div class="sidebar-logo">
    TODO APP
  </div>
  <ul class="sidebar-navigation">
    <li>
      <a routerLink="/todo-new">
        Crear nuevo todo
      </a>
    </li>
    <li>
      <a routerLink="/todo-list">
        Listado
      </a>
    </li>

  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <!-- Main component for a primary marketing manotessage or call to action -->
    <!-- <div class="jumbotron">
      <h1>Navbar example</h1>
      <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It
        includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>To see the difference between static and fixed top navbars, just scroll.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p>
    </div> -->
  </div>

  <!-- <app-todo-list [todoList]=todos></app-todo-list> -->
  <router-outlet />



  <!-- <button class="btn btn-danger">daada</button> -->